#dot{
    justify-content: center;
    align-items: center;
    margin-left : 20%;
    opacity: 80%;
    height: 70rem;
    width: 70rem;
    border-radius: 50%;
    display : inline-block;
    background: rgb(69,162,158);
    background: -moz-linear-gradient(28deg, rgba(69,162,158,1) 19%, rgba(81,195,189,1) 47%, rgba(102,252,241,1) 83%);
    background: -webkit-linear-gradient(28deg, rgba(69,162,158,1) 19%, rgba(81,195,189,1) 47%, rgba(102,252,241,1) 83%);
    background: linear-gradient(28deg, rgba(69,162,158,1) 19%, rgba(81,195,189,1) 47%, rgba(102,252,241,1) 83%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#45a29e",endColorstr="#66fcf1",GradientType=1);
}